<!DOCTYPE html>
<html>
<head>
	<title>Kamil Lazam</title>
	<meta name="description" content="My Portfolio website">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript, Portfolio">
	<meta name="author" content="Kamil Lazam">
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Orbitron:400' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

	<style>
		#quote {background: url('<%= image_tag("sky.jpg")%>') center center fixed repeat;}
	</style>
</head>
<body>

<%= yield %>

</body>
</html>
